body{
    background-color:forestgreen;
    color:white;
    font-family: "Martian Mono", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:darkgreen;
    color: white;
    font-family: "Martian Mono", monospace;
}

.passo {
    display: none;
}

.passo.ativo{
    display: block;
}


main{
    max-width: 90%;
    text-align: center;
}

img{
    max-width: 60%;
}

